{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <div>
        <h2>Add New Entry</h2>
        <form action="{% url 'wiki:add' %}" method="POST">
            {% csrf_token %}

            <!-- Field errors -->
            {% if form.errors %}
            <div class="row">
            {% for field_with_error,error_messages in form.errors.items %}
                <div class="alert alert-danger">{{error_messages}}</div>
            {% endfor %}
            </div>
            {% endif %}
            
            {% for field in form %}
                <div class="row">
                    <div class="col-md-2">    
                        {{ field.label_tag }}
                        {% if field.help_text %}
                        <sup>{{ field.help_text }}</sup>
                        {% endif %}
                    </div>
                    <div class="col-md-10 pull-left">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}

            <div>
                <input type="submit" value="Create new entry" name="AddNew"/>
            </div>
        </form>
    </div>

{% endblock %}
